{% extends 'admin_base2.html' %}
{% load static %}
{% block title %}{% if edit %}Update Brand{% else %}Create Brand{% endif %}{% endblock %}

{% block content %}

<div class="dashboard-main-body">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title mb-0">
        {% if edit %}Update Brand{% else %}Create New Brand{% endif %}
      </h5>
    </div>

    <div class="card-body">

      {% if messages %}
      <ul>
        {% for message in messages %}
        <li style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      <form method="POST">
        {% csrf_token %}

        <div class="row gy-3">

          <!-- Brand Name -->
          <div class="col-12">
            <label class="form-label">Brand Name</label>
            <div class="icon-field">
              <span class="icon">
                <iconify-icon icon="mdi:tag-outline"></iconify-icon>
              </span>

              <input 
                type="text" 
                name="name" 
                class="form-control" 
                placeholder="Enter Brand Name"
                value="{{ brand.name|default:'' }}"
                required>
            </div>
          </div>

          <!-- Buttons -->
          <div class="col-12">
            <div class="d-flex align-items-center gap-3">

              {% if edit %}
              <button type="submit" class="btn btn-primary">
                <i class="fa-regular fa-circle-check"></i>
                Update Brand
              </button>
              {% else %}
              <button type="submit" class="btn btn-primary">
                <i class="fa-regular fa-circle-check"></i>
                Create Brand
              </button>
              {% endif %}

              <a href="{% url 'brand_list' %}" class="btn btn-outline-secondary">
                <i class="fa-regular fa-circle-xmark"></i>
                Cancel
              </a>

            </div>
          </div>

        </div>

      </form>

    </div>
  </div>
</div>

{% endblock %}
