{%extends 'admin_base.html'%}

{% load static %}
{%block title%} Products {%endblock%}


{%block content%}

<section class="section after-banner">
  <div class="container">
    <div class="collection-grid-wrapper">
      <div id="w-node-a5368eac-3ff3-80b3-9178-c5b11f31620b-d3b577fb" class="split-content">
        <div class="collection-categories-flex-wrap">
          <div class="single-collection-category-wrap"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <h5 class="collection-category-title">Categories</h5>
            <div class="collection-category-list-wrap">
              <div class="w-dyn-list">
                <div role="list" class="collection-category-list-flex w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item">
                      <div class="collection-category-list-form w-form">
                        <form id="email-form" name="email-form" data-name="Email Form" method="get"
                          class="collection-category-form-content-wrap" data-wf-page-id="65c71642c0b93bdbd3b577fb"
                          data-wf-element-id="6d4294d1-f35c-e8e6-c0ea-0103ddd08740" aria-label="Email Form"><a
                            href=""
                            class="collection-category-form-flex w-inline-block">
                            <div class="collection-category-checkbox-flex">
                              <div class="collection-category-name">Camera</div>
                            </div>
                            <div class="category-item-count-wrap">
                              <div class="category-item-number">3</div>
                            </div>
                          </a></form>
                      </div>
                    </div>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item">
                      <div class="collection-category-list-form w-form">
                        <form id="email-form" name="email-form" data-name="Email Form" method="get"
                          class="collection-category-form-content-wrap" data-wf-page-id="65c71642c0b93bdbd3b577fb"
                          data-wf-element-id="6d4294d1-f35c-e8e6-c0ea-0103ddd08740" aria-label="Email Form"><a
                            href=""
                            class="collection-category-form-flex w-inline-block">
                            <div class="collection-category-checkbox-flex">
                              <div class="collection-category-name">HeadPhones</div>
                            </div>
                            <div class="category-item-count-wrap">
                              <div class="category-item-number">3</div>
                            </div>
                          </a></form>
                      </div>
                    </div>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item">
                      <div class="collection-category-list-form w-form">
                        <form id="email-form" name="email-form" data-name="Email Form" method="get"
                          class="collection-category-form-content-wrap" data-wf-page-id="65c71642c0b93bdbd3b577fb"
                          data-wf-element-id="6d4294d1-f35c-e8e6-c0ea-0103ddd08740" aria-label="Email Form"><a
                            href=""
                            class="collection-category-form-flex w-inline-block">
                            <div class="collection-category-checkbox-flex">
                              <div class="collection-category-name">Controller</div>
                            </div>
                            <div class="category-item-count-wrap">
                              <div class="category-item-number">3</div>
                            </div>
                          </a></form>
                      </div>
                    </div>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item">
                      <div class="collection-category-list-form w-form">
                        <form id="email-form" name="email-form" data-name="Email Form" method="get"
                          class="collection-category-form-content-wrap" data-wf-page-id="65c71642c0b93bdbd3b577fb"
                          data-wf-element-id="6d4294d1-f35c-e8e6-c0ea-0103ddd08740" aria-label="Email Form"><a
                            href=""
                            class="collection-category-form-flex w-inline-block">
                            <div class="collection-category-checkbox-flex">
                              <div class="collection-category-name">Phones</div>
                            </div>
                            <div class="category-item-count-wrap">
                              <div class="category-item-number">3</div>
                            </div>
                          </a></form>
                      </div>
                    </div>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item">
                      <div class="collection-category-list-form w-form">
                        <form id="email-form" name="email-form" data-name="Email Form" method="get"
                          class="collection-category-form-content-wrap" data-wf-page-id="65c71642c0b93bdbd3b577fb"
                          data-wf-element-id="6d4294d1-f35c-e8e6-c0ea-0103ddd08740" aria-label="Email Form"><a
                            href=""
                            class="collection-category-form-flex w-inline-block">
                            <div class="collection-category-checkbox-flex">
                              <div class="collection-category-name">Computers</div>
                            </div>
                            <div class="category-item-count-wrap">
                              <div class="category-item-number">4</div>
                            </div>
                          </a></form>
                      </div>
                    </div>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item">
                      <div class="collection-category-list-form w-form">
                        <form id="email-form" name="email-form" data-name="Email Form" method="get"
                          class="collection-category-form-content-wrap" data-wf-page-id="65c71642c0b93bdbd3b577fb"
                          data-wf-element-id="6d4294d1-f35c-e8e6-c0ea-0103ddd08740" aria-label="Email Form"><a
                            href=""
                            class="collection-category-form-flex w-inline-block">
                            <div class="collection-category-checkbox-flex">
                              <div class="collection-category-name">Smart Watch</div>
                            </div>
                            <div class="category-item-count-wrap">
                              <div class="category-item-number">1</div>
                            </div>
                          </a></form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="single-collection-category-wrap"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <h5 class="collection-category-title">Price</h5>
            <div class="collection-category-list-wrap">
              <div class="w-dyn-list">
                <div role="list" class="collection-category-list-flex w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item">
                      <div class="collection-category-list-form w-form">
                        <form id="email-form" name="email-form" data-name="Email Form" method="get"
                          class="collection-category-form-content-wrap" data-wf-page-id="65c71642c0b93bdbd3b577fb"
                          data-wf-element-id="3a1dc652-7bd9-fd68-524d-0ac6315544dc" aria-label="Email Form"><a
                            href=""
                            class="collection-category-form-flex w-inline-block">
                            <div class="collection-category-checkbox-flex">
                              <div class="collection-category-name">$0.00 - $99.99</div>
                            </div>
                            <div class="category-item-count-wrap">
                              <div class="category-item-number">5</div>
                            </div>
                          </a></form>
                      </div>
                    </div>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item">
                      <div class="collection-category-list-form w-form">
                        <form id="email-form" name="email-form" data-name="Email Form" method="get"
                          class="collection-category-form-content-wrap" data-wf-page-id="65c71642c0b93bdbd3b577fb"
                          data-wf-element-id="3a1dc652-7bd9-fd68-524d-0ac6315544dc" aria-label="Email Form"><a
                            href=""
                            class="collection-category-form-flex w-inline-block">
                            <div class="collection-category-checkbox-flex">
                              <div class="collection-category-name">$100.00 - $199.99</div>
                            </div>
                            <div class="category-item-count-wrap">
                              <div class="category-item-number">5</div>
                            </div>
                          </a></form>
                      </div>
                    </div>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item">
                      <div class="collection-category-list-form w-form">
                        <form id="email-form" name="email-form" data-name="Email Form" method="get"
                          class="collection-category-form-content-wrap" data-wf-page-id="65c71642c0b93bdbd3b577fb"
                          data-wf-element-id="3a1dc652-7bd9-fd68-524d-0ac6315544dc" aria-label="Email Form"><a
                            href=""
                            class="collection-category-form-flex w-inline-block">
                            <div class="collection-category-checkbox-flex">
                              <div class="collection-category-name">$200 and above</div>
                            </div>
                            <div class="category-item-count-wrap">
                              <div class="category-item-number">11</div>
                            </div>
                          </a></form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="single-collection-category-wrap colors"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <h5 class="collection-category-title">Colors</h5>
            <div class="collection-category-list-wrap">
              <div class="w-dyn-list">
                <div role="list" class="collection-category-list-flex color w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item"><a
                        href=""
                        class="collection-category-form-flex color w-inline-block">
                        <div class="collection-category-checkbox-flex">
                          <div style="background-color:hsla(206.72268907563029, 100.00%, 53.33%, 1.00)"
                            class="collection-category-color-box"></div>
                          <div class="collection-category-name">Deep Blue</div>
                        </div>
                        <div class="collection-category-label">This is some text inside of a div block.</div>
                        <div class="category-item-number-flex">
                          <div class="category-item-number">(</div>
                          <div class="category-item-number">3</div>
                          <div class="category-item-number">)</div>
                        </div>
                      </a></div>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item"><a
                        href=""
                        class="collection-category-form-flex color w-inline-block">
                        <div class="collection-category-checkbox-flex">
                          <div style="background-color:hsla(35.8974358974359, 98.32%, 53.33%, 1.00)"
                            class="collection-category-color-box"></div>
                          <div class="collection-category-name">Yellow</div>
                        </div>
                        <div class="collection-category-label">This is some text inside of a div block.</div>
                        <div class="category-item-number-flex">
                          <div class="category-item-number">(</div>
                          <div class="category-item-number">3</div>
                          <div class="category-item-number">)</div>
                        </div>
                      </a></div>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item"><a
                        href=""
                        class="collection-category-form-flex color w-inline-block">
                        <div class="collection-category-checkbox-flex">
                          <div style="background-color:hsla(208.23529411764704, 18.48%, 63.92%, 1.00)"
                            class="collection-category-color-box"></div>
                          <div class="collection-category-name">Deep Grey</div>
                        </div>
                        <div class="collection-category-label">This is some text inside of a div block.</div>
                        <div class="category-item-number-flex">
                          <div class="category-item-number">(</div>
                          <div class="category-item-number">4</div>
                          <div class="category-item-number">)</div>
                        </div>
                      </a></div>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item"><a
                        href=""
                        class="collection-category-form-flex color w-inline-block">
                        <div class="collection-category-checkbox-flex">
                          <div style="background-color:hsla(79.27601809954751, 95.67%, 54.71%, 1.00)"
                            class="collection-category-color-box"></div>
                          <div class="collection-category-name">Green</div>
                        </div>
                        <div class="collection-category-label">This is some text inside of a div block.</div>
                        <div class="category-item-number-flex">
                          <div class="category-item-number">(</div>
                          <div class="category-item-number">1</div>
                          <div class="category-item-number">)</div>
                        </div>
                      </a></div>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item"><a
                        href=""
                        class="collection-category-form-flex color w-inline-block">
                        <div class="collection-category-checkbox-flex">
                          <div style="background-color:hsla(0, 0.00%, 0.00%, 1.00)"
                            class="collection-category-color-box"></div>
                          <div class="collection-category-name">Pure Black</div>
                        </div>
                        <div class="collection-category-label">This is some text inside of a div block.</div>
                        <div class="category-item-number-flex">
                          <div class="category-item-number">(</div>
                          <div class="category-item-number">7</div>
                          <div class="category-item-number">)</div>
                        </div>
                      </a></div>
                  </div>
                  <div role="listitem" class="w-dyn-item">
                    <div class="collection-category-list-item"><a
                        href=""
                        class="collection-category-form-flex color w-inline-block">
                        <div class="collection-category-checkbox-flex">
                          <div style="background-color:hsla(0, 0.00%, 100.00%, 1.00)"
                            class="collection-category-color-box"></div>
                          <div class="collection-category-name">Pure White</div>
                        </div>
                        <div class="collection-category-label">This is some text inside of a div block.</div>
                        <div class="category-item-number-flex">
                          <div class="category-item-number">(</div>
                          <div class="category-item-number">4</div>
                          <div class="category-item-number">)</div>
                        </div>
                      </a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="w-node-f1bf3d3d-69ab-1392-f21c-23b6b2acfb6c-d3b577fb" class="split-content">
        <div class="product-collection-list-wrapper">
          <div class="showing-item-details">Showing 1 - 1 of 1 result</div>
          <div class="product-collection-list w-dyn-list">
            <div role="list" class="products-grid-wrap collection w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <div data-w-id="bdc49c1b-7cac-28d0-b50e-d0872b166c62"
                  style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                  class="single-product-wrap">
                  <div class="product-contents-wrapper">
                    <div class="product-img-wrapper"><a href=""
                        class="product-img-wrap w-inline-block"
                        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"><img
                          alt="" loading="lazy"
                          src="{% static 'img/stock_img/65bf646cf9ce14831cf9cc9e_Product-Img-22.png' %}"
                          class="product-img"></a></div>
                    <div class="product-details-wrap"
                      style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                      <a href=""
                        class="product-name-wrap w-inline-block">
                        <h5 class="product-name">DualSense Edge</h5>
                      </a>
                      <div class="product-review"><img
                          src="{% static 'img/stock_img/65bddace7f5edc2f3272ec62_Review-Star.svg' %}" loading="lazy" alt=""
                          class="product-review-star"><img
                          src="{% static 'img/stock_img/65bddace7f5edc2f3272ec62_Review-Star.svg' %}" loading="lazy" alt=""
                          class="product-review-star"><img
                          src="{% static 'img/stock_img/65bddace7f5edc2f3272ec62_Review-Star.svg' %}" loading="lazy" alt=""
                          class="product-review-star"><img
                          src="{% static 'img/stock_img/65bddace7f5edc2f3272ec62_Review-Star.svg' %}" loading="lazy" alt=""
                          class="product-review-star"><img
                          src="{% static 'img/stock_img/65be2e8dbdf9c5fda8bf37f4_Review-Star-off.svg' %}" loading="lazy"
                          alt="" class="product-review-star"></div>
                      <div class="product-price-wrap">
                        <div class="product-price past">$89.99</div>
                        <div class="product-price">$79.99</div>
                      </div>
                    </div>
                  </div>
                  <div class="product-small-buttons-flex"><a
                      href=""
                      class="product-small-button w-inline-block"><img
                        src="{% static 'img/stock_img/65be34fe70efe705e8f6c0f9_View-Icon.svg' %}" loading="lazy" alt=""
                        class="product-small-buttons-icon"></a></div>
                  <div class="product-add-to-cart">
                    <form method="post" action=""
                      class="w-commerce-commerceaddtocartform add-cart-default-state">
                      {% csrf_token %}
                      <input type="hidden" name="product_id" value="dualsense-edge">
                      <input type="submit"
                        class="w-commerce-commerceaddtocartbutton add-to-cart-button" value="Add to Cart">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}