{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}

<section class="section after-banner">
    <div class="container">
        <div class="about-us-grid-wrap">
            <div id="w-node-_7df8979e-4a99-f1da-8f0a-fe46d4df8bbe-85723ff3"
                data-w-id="7df8979e-4a99-f1da-8f0a-fe46d4df8bbe"
                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                class="split-content"><img
                    src="{% static 'img/about-pic.png'%}"
                    loading="lazy"
                    sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, 48vw"
                    alt="" class="about-us-img"></div>
            <div id="w-node-_638d98ea-de03-19b0-175f-479b143d5412-85723ff3" class="split-content">
                <div data-w-id="0fe3cc2d-a6af-6721-ff10-5eb9c1bcf361"
                    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                    class="about-us-content-wrap">
                    <div class="mini-title-wrap">
                        <div class="mini-title">About Us</div>
                    </div>
                    <h2 class="about-us-title">Reliable Office Automation Solutions Across UAE</h2>
                    <p class="about-us-details">WRS Office Automation Trading L.L.C – O.P.C is one of the leading suppliers of printers, photocopiers, and office automation solutions in Abu Dhabi, Dubai, Sharjah, Ajman, and across the UAE. We specialize in providing high-quality office equipment, backed by professional technical support and affordable service plans.
                        <br><br>
                        Our expertise covers laser printers, multifunction photocopiers, scanners, cartridges, toners, and complete documentation solutions. With ready stock of world-renowned brands such as Canon, Kyocera, Ricoh, Sharp, HP, Konica Minolta, Samsung, and Epson, we ensure fast delivery and dependable after-sales support.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section why-us">
    <div class="container">
        <div class="section-title-wrap why-us"
            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
            <div class="mini-title-wrap">
                <div class="mini-title">Why Us?</div>
            </div>
            <h2 class="section-title">Why You Should Choose Us?</h2>
        </div>
        <div class="why-us-grid-wrap">
            <div id="w-node-cea15962-9e61-bd07-89b9-27170c63fc70-85723ff3"
                data-w-id="cea15962-9e61-bd07-89b9-27170c63fc70"
                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                class="single-why-us-wrap">
                <div class="why-us-icon-wrap"><img
                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65c4e1bcbdf71b2171292631_Why-Us-Icon-1.svg"
                        loading="lazy" alt="" class="why-us-icon"></div>
                <h4 class="why-us-title">Fast Delivery</h4>
                <p class="why-us-details">Get your products delivered quickly and safely with our
                    reliable shipping partners and real-time tracking.</p>
            </div>
            <div id="w-node-_1b76c214-61af-6f6a-6562-4e71a41e217f-85723ff3"
                data-w-id="1b76c214-61af-6f6a-6562-4e71a41e217f"
                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                class="single-why-us-wrap">
                <div class="why-us-icon-wrap"><img
                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65c4e1bc69ea35a09119ae2a_Why-Us-Icon-2.svg"
                        loading="lazy" alt="" class="why-us-icon"></div>
                <h4 class="why-us-title">Secure Shopping</h4>
                <p class="why-us-details">Shop with confidence knowing that our secure checkout ensures you’re
                    &nbsp;protected for every orders.</p>
            </div>
            <div id="w-node-_0e3a5e6e-0a38-60eb-b7c9-46ea31ecf1c3-85723ff3"
                data-w-id="0e3a5e6e-0a38-60eb-b7c9-46ea31ecf1c3"
                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                class="single-why-us-wrap">
                <div class="why-us-icon-wrap"><img
                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65c4e1bc615264e7a3be6e78_Why-Us-Icon-3.svg"
                        loading="lazy" alt="" class="why-us-icon"></div>
                <h4 class="why-us-title">Quality Products</h4>
                <p class="why-us-details">Every product is quality-checked and sourced from trusted
                    brands to guarantee value and durability.</p>
            </div>
            <div id="w-node-fe330b71-f001-d471-d312-30ba2b621291-85723ff3"
                data-w-id="fe330b71-f001-d471-d312-30ba2b621291"
                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                class="single-why-us-wrap">
                <div class="why-us-icon-wrap"><img
                        src="{%static 'img/customer-support.svg'%}" style="height: 45px;"
                        loading="lazy" alt="" class="why-us-icon"></div>
                <h4 class="why-us-title">Customer Support</h4>
                <p class="why-us-details">Our support team is always ready to help you with orders,
                    returns, and product assistance.</p>
            </div>
        </div>
    </div>
</section>


<section class="section testimonial-v2">
    <div class="container">
        <div class="section-title-wrap"
            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
            <div class="mini-title-wrap">
                <div class="mini-title">TEStiMONIAL</div>
            </div>
            <h2 class="section-title">What People Says</h2>
        </div>
    </div>
    <div class="testimonial-slider-wrap v2">
        <div data-delay="1" data-animation="slide" class="slider testimonial w-slider" data-autoplay="true"
            data-easing="ease"
            style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
            data-hide-arrows="false" data-disable-swipe="false" data-w-id="c99dcde6-7f53-6139-c977-0ea623eb533c"
            data-autoplay-limit="1" data-nav-spacing="0" data-duration="500" data-infinite="true" role="region"
            aria-label="carousel">
            <div class="testimonial-slide-mask v2 w-slider-mask" id="w-slider-mask-0">
                <div data-w-id="c99dcde6-7f53-6139-c977-0ea623eb533e" class="testimonial-single-slide w-slide"
                    aria-label="1 of 5" role="group" style="transition: all; transform: translateX(-370px); opacity: 1;"
                    aria-hidden="true">
                    <div class="single-testimonial-wrap v2" aria-hidden="true">
                        <div class="testimonial-content-wrap v2" aria-hidden="true">
                            <div class="testimonial-author-flex v2" aria-hidden="true">
                                <div class="testimonial-author-wrap v2" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65c22612ce1567fe4bada472_Testimonial-Author-1.jpg"
                                        loading="lazy" alt="" class="testimonial-author-img v2" aria-hidden="true">
                                    <div class="testimonial-author-info-wrap" aria-hidden="true">
                                        <h4 class="testimonial-author-name v2" aria-hidden="true">James Blunt</h4>
                                        <div class="testimonial-author-username" aria-hidden="true">Businessman</div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-details-wrapper" aria-hidden="true">
                                <p class="testimonial-details v2" aria-hidden="true">                    “Shopping here was a fantastic experience. The website is easy to use,
                    the products arrived on time, and the quality exceeded my expectations.”</p>
                                <div class="testimonial-review-flex" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="c99dcde6-7f53-6139-c977-0ea623eb5352" class="testimonial-single-slide w-slide"
                    aria-label="2 of 5" role="group"
                    style="transition: all; transform: translateX(-370px); opacity: 1;">
                    <div class="single-testimonial-wrap v2">
                        <div class="testimonial-content-wrap v2">
                            <div class="testimonial-author-flex v2">
                                <div class="testimonial-author-wrap v2"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65c22612883b5602242a5016_Testimonial-Author-2.jpg"
                                        loading="lazy" alt="" class="testimonial-author-img v2">
                                    <div class="testimonial-author-info-wrap">
                                        <h4 class="testimonial-author-name v2">Michel Clark</h4>
                                        <div class="testimonial-author-username">Businessman</div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-details-wrapper">
                                <p class="testimonial-details v2">                    “Great prices, fast delivery, and excellent customer service.
                    This is now my go-to online store for electronics and accessories.”</p>
                                <div class="testimonial-review-flex"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="c99dcde6-7f53-6139-c977-0ea623eb5366" class="testimonial-single-slide w-slide"
                    aria-label="3 of 5" role="group" aria-hidden="true"
                    style="transition: all; transform: translateX(-370px); opacity: 1;">
                    <div class="single-testimonial-wrap v2" aria-hidden="true">
                        <div class="testimonial-content-wrap v2" aria-hidden="true">
                            <div class="testimonial-author-flex v2" aria-hidden="true">
                                <div class="testimonial-author-wrap v2" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65c2261238724793d0a04e56_Testimonial-Author-3.jpg"
                                        loading="lazy" alt="" class="testimonial-author-img v2" aria-hidden="true">
                                    <div class="testimonial-author-info-wrap" aria-hidden="true">
                                        <h4 class="testimonial-author-name v2" aria-hidden="true">Jacob Jones</h4>
                                        <div class="testimonial-author-username" aria-hidden="true">Businessman</div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-details-wrapper" aria-hidden="true">
                                <p class="testimonial-details v2" aria-hidden="true">                    “Secure checkout and genuine products. I highly recommend
                    this e-commerce platform to anyone looking for hassle-free shopping.”</p>
                                <div class="testimonial-review-flex" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="c99dcde6-7f53-6139-c977-0ea623eb537a" class="testimonial-single-slide w-slide"
                    aria-label="4 of 5" role="group" aria-hidden="true"
                    style="transition: all; transform: translateX(-370px); opacity: 1;">
                    <div class="single-testimonial-wrap v2" aria-hidden="true">
                        <div class="testimonial-content-wrap v2" aria-hidden="true">
                            <div class="testimonial-author-flex v2" aria-hidden="true">
                                <div class="testimonial-author-wrap v2" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65c228311e8f5b26d265bd7c_Testimonial-Author-4.jpg"
                                        loading="lazy" alt="" class="testimonial-author-img v2" aria-hidden="true">
                                    <div class="testimonial-author-info-wrap" aria-hidden="true">
                                        <h4 class="testimonial-author-name v2" aria-hidden="true">Floyd Miles</h4>
                                        <div class="testimonial-author-username" aria-hidden="true">Businessman</div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-details-wrapper" aria-hidden="true">
                                <p class="testimonial-details v2" aria-hidden="true">“What truly sets them apart is
                                    their customer service; the staff's expertise and willingness to go above and beyond
                                    ensure I always leave satisfied. Whether it's troubleshooting a device glitch or
                                    exploring new innovations.</p>
                                <div class="testimonial-review-flex" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="c99dcde6-7f53-6139-c977-0ea623eb538e" class="testimonial-single-slide w-slide"
                    aria-label="5 of 5" role="group" aria-hidden="true"
                    style="transition: all; transform: translateX(-370px); opacity: 1;">
                    <div class="single-testimonial-wrap v2" aria-hidden="true">
                        <div class="testimonial-content-wrap v2" aria-hidden="true">
                            <div class="testimonial-author-flex v2" aria-hidden="true">
                                <div class="testimonial-author-wrap v2" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65c22831d64e5cb904deb137_Testimonial-Author-5.jpg"
                                        loading="lazy" alt="" class="testimonial-author-img v2" aria-hidden="true">
                                    <div class="testimonial-author-info-wrap" aria-hidden="true">
                                        <h4 class="testimonial-author-name v2" aria-hidden="true">Jerome Bell</h4>
                                        <div class="testimonial-author-username" aria-hidden="true">Businessman</div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-details-wrapper" aria-hidden="true">
                                <p class="testimonial-details v2" aria-hidden="true">“Shopping at WRS 
                                    was a delightful experience! Their vast selection, competitive prices, and
                                    knowledgeable staff helped me find the perfect tech solution tailored to my needs. I
                                    highly recommend them.</p>
                                <div class="testimonial-review-flex" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"><img
                                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bddace7f5edc2f3272ec62_Review-Star.svg"
                                        loading="lazy" alt="" class="testimonial-star" aria-hidden="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div aria-live="off" aria-atomic="true" class="w-slider-aria-label" data-wf-ignore="">Slide 2 of 5.
                </div>
            </div>
            <div class="dp-none w-slider-arrow-left" role="button" tabindex="0" aria-controls="w-slider-mask-0"
                aria-label="previous slide">
                <div class="slider-arrow-wrap"><img
                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bba437e015fb68780f7508_Arrow-Left-Black.svg"
                        loading="lazy" alt="" class="slider-arrow"><img
                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bba437e015fb68780f7509_Arrow-Left-White.svg"
                        loading="lazy" alt="" class="slider-arrow-hover"></div>
            </div>
            <div class="dp-none w-slider-arrow-right" role="button" tabindex="0" aria-controls="w-slider-mask-0"
                aria-label="next slide" style="">
                <div class="slider-arrow-wrap"><img
                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bba437e015fb68780f750b_Arrow-Right-Black.svg"
                        loading="lazy" alt="" class="slider-arrow"><img
                        src="https://cdn.prod.website-files.com/65b8e0357ac2740d76d66728/65bba437e015fb68780f750a_Arrow-Right-White.svg"
                        loading="lazy" alt="" class="slider-arrow-hover"></div>
            </div>
            <div class="testimonial-dots testimonial w-slider-nav w-slider-nav-invert w-round">
                <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 1 of 5" aria-pressed="false"
                    role="button" tabindex="-1" style="margin-left: 0px; margin-right: 0px;"></div>
                <div class="w-slider-dot w-active" data-wf-ignore="" aria-label="Show slide 2 of 5" aria-pressed="true"
                    role="button" tabindex="0" style="margin-left: 0px; margin-right: 0px;" fdprocessedid="u6ivhh">
                </div>
                <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 3 of 5" aria-pressed="false"
                    role="button" tabindex="-1" style="margin-left: 0px; margin-right: 0px;"></div>
                <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 4 of 5" aria-pressed="false"
                    role="button" tabindex="-1" style="margin-left: 0px; margin-right: 0px;"></div>
                <div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 5 of 5" aria-pressed="false"
                    role="button" tabindex="-1" style="margin-left: 0px; margin-right: 0px;"></div>
            </div>
            <div class="testimonials-nav-outline">
                <div class="testimonials-nav-outline-item _1" style="opacity: 0;"></div>
                <div class="testimonials-nav-outline-item _2" style="opacity: 1;"></div>
                <div class="testimonials-nav-outline-item _3" style="opacity: 0;"></div>
                <div class="testimonials-nav-outline-item _4" style="opacity: 0;"></div>
                <div class="testimonials-nav-outline-item _5" style="opacity: 0;"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}