{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}

<style>
    @media (min-width: 1024px) {
    .lap-margin-top {
        margin-top: -3rem;
    }
}
</style>

<section class="section">
      <div class="container">
        <div class="section-title-wrap flex bottom lap-margin-top"  style=" transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
          <div class="split-content blog-v1-title-wrap">
            <div class="mini-title-wrap dark">
              <div class="mini-title">Services</div>
            </div>
            <h2 class="section-title">Our Services</h2>
          </div>

        </div>
        <div class="blog-collection-wrapper">
          <div class="w-dyn-list">
            <div role="list" class="blog-grid-wrap w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <div class="single-blog-post-wrap" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"><a href="" class="blog-img-wrap w-inline-block"><img alt="" loading="lazy" src="/static/img/cartridge-refilling.png" class="blog-img"></a>
                  <div class="blog-content-wrapper">
                    <div class="blog-contents-wrap">
                      <a href="" class="post-title-wrap w-inline-block">
                        <h4 class="post-title">Printer Cartridges Refilling</h4>
                      </a>
                      <div class="btn-inline-wrap"><a href="" class="shop-button primary w-inline-block">
                          <div>Read More</div><img src="/static/img/stock_img/65bb7e5d074a295f5caab2dd_Shop-Btn-Arrow-Primary.svg" loading="lazy" alt="" class="shop-button-icon" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                          <div class="shop-btn-border primary" style="width: 80%; height: 1px;"></div>
                        </a></div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div role="listitem" class="w-dyn-item">
                <div class="single-blog-post-wrap" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"><a href="" class="blog-img-wrap w-inline-block"><img alt="" loading="lazy" src="/static/img/optimisation.png" class="blog-img"></a>
                  <div class="blog-content-wrapper">
                    <div class="blog-contents-wrap">
                      <a href="" class="post-title-wrap w-inline-block">
                        <h4 class="post-title">Printer Optimization &amp; Tune-Up </h4>
                      </a>
                      <div class="btn-inline-wrap"><a href="" class="shop-button primary w-inline-block">
                          <div>Read More</div><img src="/static/img/stock_img/65bb7e5d074a295f5caab2dd_Shop-Btn-Arrow-Primary.svg" loading="lazy" alt="" class="shop-button-icon" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                          <div class="shop-btn-border primary" style="width: 80%; height: 1px;"></div>
                        </a></div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div role="listitem" class="w-dyn-item">
                <div class="single-blog-post-wrap" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"><a href="" class="blog-img-wrap w-inline-block"><img alt="" loading="lazy" src="/static/img/roller.png" class="blog-img"></a>
                  <div class="blog-content-wrapper">
                    <div class="blog-contents-wrap">
                      <a href="" class="post-title-wrap w-inline-block">
                        <h4 class="post-title">Printer Feeding &amp; Roller Problems</h4>
                      </a>
                      <div class="btn-inline-wrap"><a href="" class="shop-button primary w-inline-block">
                          <div>Read More</div><img src="/static/img/stock_img/65bb7e5d074a295f5caab2dd_Shop-Btn-Arrow-Primary.svg" loading="lazy" alt="" class="shop-button-icon" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                          <div class="shop-btn-border primary" style="width: 80%; height: 1px;"></div>
                        </a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div role="listitem" class="w-dyn-item">
                <div class="single-blog-post-wrap" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"><a href="" class="blog-img-wrap w-inline-block"><img alt="" loading="lazy" src="/static/img/installation.png" class="blog-img"></a>
                  <div class="blog-content-wrapper">
                    <div class="blog-contents-wrap">
                      <a href="" class="post-title-wrap w-inline-block">
                        <h4 class="post-title">Printer Installation</h4>
                      </a>
                      <div class="btn-inline-wrap"><a href="" class="shop-button primary w-inline-block">
                          <div>Read More</div><img src="/static/img/stock_img/65bb7e5d074a295f5caab2dd_Shop-Btn-Arrow-Primary.svg" loading="lazy" alt="" class="shop-button-icon" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                          <div class="shop-btn-border primary" style="width: 80%; height: 1px;"></div>
                        </a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div role="listitem" class="w-dyn-item">
                <div class="single-blog-post-wrap" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"><a href="" class="blog-img-wrap w-inline-block"><img alt="" loading="lazy" src="/static/img/virtual.png" class="blog-img"></a>
                  <div class="blog-content-wrapper">
                    <div class="blog-contents-wrap">
                      <a href="" class="post-title-wrap w-inline-block">
                        <h4 class="post-title">Virtual Assistants</h4>
                      </a>
                      <div class="btn-inline-wrap"><a href="" class="shop-button primary w-inline-block">
                          <div>Read More</div><img src="/static/img/stock_img/65bb7e5d074a295f5caab2dd_Shop-Btn-Arrow-Primary.svg" loading="lazy" alt="" class="shop-button-icon" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                          <div class="shop-btn-border primary" style="width: 80%; height: 1px;"></div>
                        </a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div role="listitem" class="w-dyn-item">
                <div class="single-blog-post-wrap" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"><a href="" class="blog-img-wrap w-inline-block"><img alt="" loading="lazy" src="/static/img/motherboard.png" class="blog-img"></a>
                  <div class="blog-content-wrapper">
                    <div class="blog-contents-wrap">
                      <a href="" class="post-title-wrap w-inline-block">
                        <h4 class="post-title">Power Failure &amp; Motherboard issue</h4>
                      </a>
                      <div class="btn-inline-wrap"><a href="" class="shop-button primary w-inline-block">
                          <div>Read More</div><img src="/static/img/stock_img/65bb7e5d074a295f5caab2dd_Shop-Btn-Arrow-Primary.svg" loading="lazy" alt="" class="shop-button-icon" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                          <div class="shop-btn-border primary" style="width: 80%; height: 1px;"></div>
                        </a></div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}